.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex: 1;
}
.container {
	height: inherit;
	display: flex;
	flex-direction: row;
  width: 100%;
}
.sidebar {
	padding: 0.5rem 0;
	max-width: 200px;
  border-right: 1px dashed #ccc;
	display: flex;
	flex: 1;
}

.content {
	padding: 0.5rem;
	display: flex;
	flex: 1;
}
