.container {
	width: 100%;
}
.addButton {
	background-color: #30475e;
	color: white;
	padding: 12px 24px;
	border: 0;
	border-radius: 2px;
	margin: 0.5rem 0;
	&:hover {
		cursor: pointer;
	}
}
.tabline {
	display: flex;
	flex-direction: row;
	margin-top: 0.5rem;
	width: 100%;
	border-bottom: 1px solid lightgray;

	button {
		border: 0;
	}
	.tab {
		position: relative;
	}
	.tabButton {
		background-color: transparent;
		padding: 0.5rem 20px;
		padding-right: 28px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		&.active {
			background-color: #f5f5f5;
		}
		&:hover {
			cursor: pointer;
		}
	}
	.deleteButton {
		width: 18px;
		height: 18px;
		background-color: #f05454;
		color: #f5f5f5;
    font-size: 12px;
		border-radius: 50%;
		position: absolute;
		right: 5%;
		top: 20%;
		z-index: 99;
		&:hover {
			cursor: pointer;
		}
	}
}
