.container{
  width: 100%;
  h4{
    text-align: center;
  }
}
.list {
  padding: .5rem 0;
		width: 100%;
    button {
		width: 100%;
		border: 0;
		background-color: transparent;
    text-align: left;
    padding: 12px 16px;

		&:hover {
			background-color: #F5F5F5;
			cursor: pointer;
		}
    &.active{
      background-color: #121212;
      color: #fff;
    }
	}
}
